body{
    background-color: rgb(97, 97, 175);
}

header{
    display:flex;
    justify-content: center;
}

section{
    background-color: white;
    height: fit-content;
    margin: 0 700px;
    border-radius: 14px;
}

.container {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container #finalizar{
    display: flex;
}


 .dadosvetor{
    font: 20px Arial;
    margin: 20px 0;
}





footer{
    display: flex;
    justify-content: center;
}